<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.score.mapper.UserMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.score.entity.User">
        <id column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="role" property="role"/>
        <result column="stuid" property="stuid"/>
        <association property="stuInfo" resultMap="stuInfoResultMap"/>
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="stuInfoResultMap" type="com.example.score.entity.Stuinfo">
        <id column="stuid" property="stuid"/>
        <result column="stuname" property="stuname"/>
        <result column="gender" property="gender"/>
        <result column="birthday" property="birthday"/>
        <result column="classname" property="classname"/>
        <result column="address" property="address"/>
    </resultMap>

    <sql id="selectVo">
        SELECT username,
               password,
               role,
               stuid
        FROM user a
    </sql>

    <sql id="selectStuInfo">
        SELECT a.username,
               a.password,
               a.role,
               a.stuid,
               b.stuname,
               b.gender,
               b.birthday,
               b.classname,
               b.address
        FROM user a
                 left outer join stuinfo b on a.stuid = b.stuid
    </sql>
    <select id="getByEntityId" parameterType="String" resultMap="BaseResultMap">
        <include refid="selectStuInfo">
        </include>
        <where>
            a.username = #{id}
        </where>
    </select>
    <select id="listByCriteria" parameterType="User" resultMap="BaseResultMap">
        <include refid="selectStuInfo">
        </include>
        <where>
            <if test="username != null and username != ''">
                AND a.username like concat('%', #{username}, '%')
            </if>
            <if test="role != null and role != ''">
                AND a.role = #{role}
            </if>
            <if test="stuid != null and stuid != ''">
                AND a.stuid like concat('%', #{stuid}, '%')
            </if>
            <if test="stuInfo!=null and stuInfo.stuname != null and stuInfo.stuname != ''">
                AND a.stuname like concat('%', #{stuInfo.stuname}, '%')
            </if>

        </where>
    </select>
    <!--
        <insert id="batchSave" parameterType="java.util.List" >
            insert into user(user_id,role_id)
            values
            <foreach collection="list" item="item" index="index" separator="," >
                (
                #{item.userId},
                #{item.roleId}
                )
            </foreach>
        </insert>

        <update id="updateById" parameterType="User">
             update user
             set login_name           = #{loginName,jdbcType=VARCHAR},
                 sex                  = #{sex,jdbcType=CHAR},
                 avatar               = #{avatar,jdbcType=VARCHAR},
                 mobile               = #{mobile,jdbcType=VARCHAR}
             where user_id = #{userId,jdbcType=BIGINT}
        </update>
    -->
    <delete id="deleteByCriteria" parameterType="User">
        delete a
        from user a
        <where>
            <if test="username != null and username != ''">
                AND a.username like concat('%', #{username}, '%')
            </if>
            <if test="role != null and role != ''">
                AND a.role == #{username}
            </if>
            <if test="stuid != null and stuid != ''">
                AND a.stuid == #{stuid}
            </if>
            <if test="stuInfo.stuname != null and stuInfo.stuname != ''">
                AND a.stuname like concat('%', #{stuname}, '%')
            </if>
        </where>
    </delete>
</mapper>
